
:root{
  --background-color:#f6fdff ;
  --text-color:#0e0f13;
  --background-color-price-plan: #fff;
  --background-color-btn: #425df8;
}
.dark-theme{
   --background-color:#0e0f13 ;
  --text-color:#f6fdff;
  --background-color-price-plan:  #fff;
  --background-color-btn:blue;
}
body {

  font-family: "Cabin", sans-serif;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  background-color: var(--background-color);
}

.container{
  /* padding: 0 52px; */
  max-width: 1400px;
  box-sizing: border-box;
  margin: auto;}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin: 40px 52px 0px;
  width: 1296px;
  
}

.header-logo-container {
  display: flex;
  align-items: center;
}

.header-logo-container a{
  color: #0e0f13;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.header-logo-container img {
  width: 40px;
  height: 40px;
  margin-right: 18px;
}

.header-navigation-menu ul {
  display: flex;
  align-items: flex-start;
  gap: 56px;
  color: #0e0f13;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 125%; 
}
.header-navigation-menu a {
  
  text-decoration: none;
}
.btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}


.main-btn {
  display: flex;
  padding: 18px 22px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--background-color-btn);
  background:var(--background-color-btn);
  color: var(--background-color-price-plan);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  width: fit-content;
  font-family: Cabin;
}


.main-btn a{
  text-decoration: none;
  color: var(--background-color-price-plan);
}

.secondary-btn {
  padding: 18px 22px;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid #dadada;
  gap: 10px;
  color: #0e0f13;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}

.secondary-btn a{
text-decoration: none;
color: #0E0F13;
font-size: 18px;
font-weight: 500;
line-height: 100%; /* 18px */
letter-spacing: 0.72px;
text-transform: uppercase;
font-style: normal;
font-family: Cabin;
}


/*main*/

.main {
  display: flex;
  gap: 120px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 255px;
}

.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  margin: auto;
  margin-top: 157px;
}

.main-title h1 {
  color:var(--text-color);
  font-size: 64px;
  font-weight: 500;
  line-height: 100%; 
  text-align: center;
}

.main-title p {
  color: #7f828a;
  font-size: 22px;
  font-weight: 400;
  line-height: 100%; 
}

.content-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
  min-width: 1246px;
}

 .price-plan {
  display: flex;  
   flex: 1; 
   min-width: 416px; 
   max-width: 450px; 
   min-height: 789px; 
   box-sizing: border-box; 
   flex-direction: column; 
   gap: 27px;  
   text-align: center; 
   padding: 56px; 
   justify-content: space-between; 
   align-items: center; 
   border-radius: 24px; 
   border: 1px solid #dadada; 
  background: var(--background-color-price-plan);
} 


.main-price-plan {
  display: flex;
  box-sizing: border-box;
  width: 416px;
  min-height: 817px;
  padding: 56px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #161a34;
  background: #161a34;
}
.main-price-plan .price-plan-title {
  color: var(--background-color-price-plan);
  text-align: center;
}

.price-plan-title {
  width: 304px;
  color: #0e0f15;
  font-size: 30px;
  font-weight: 500;
  line-height: 125%; }

.main-price-plan .price-plan-secondary-text {
  color: var(--background-color-price-plan);
  text-align: center;
}
.price-plan-secondary-text {
  width: 304px;
  color: #7f828a;
  font-size: 22px;
  font-weight: 400;
  line-height: 125%; 
}

.price {
  display: flex;
  width: 304px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.main-price-plan .price p {
  color: var(--background-color-price-plan);
}

.price p {
  color: #0e0f15;
  text-align: right;
  font-size: 64px;
  font-weight: 500;
  line-height: 125%; 
}

.main-price-plan .price span {
  color: var(--background-color-price-plan);
}

.price span {
  color: #7f828a;
  font-size: 22px;
  font-weight: 400;
  line-height: 100%; 
  text-transform: uppercase;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.list img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.main-price-plan .list p {
  color:var(--background-color-price-plan);
}

.list-item-another {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.list .another {
  display: flex;
  width: 304px;
  height: 56px;
  align-self: stretch;
}

.list p {
  color: #7f828a;
  font-size: 22px;
  font-weight: 400;
  line-height: 125%; 
  text-transform: capitalize;
}

/*Footer*/
.footer {
  font-family: "Inter", sans-serif;
  display: flex;
  width: 1400px;
  flex-direction: column;
  align-items: center;
}
  .line {  
  display: flex;
  background: #0e0f13;
  height: 1px;
  align-self: stretch;
}

.footer-container {
  display: flex;
  width: 1296px;
  padding: 16px 0px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 52px;
  margin-right: 52px;
  
}
.footer-logo {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  color: #7f828a;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.footer-logo img {
  width: 24px;
  height: 24px;
}

.footer-logo p {
  color: #7f828a;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.footer-text {
  color: #7f828a;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
}










